  <% layout('/layouts/boilerplate') %>   
  <script>
    const maptoken = "<%= process.env.MAP_TOKEN%>"
     const listingg= <%- JSON.stringify(listingg)%>;
  </script>   
  <body>
      <div class="row mt-3">
          <div class="col-md-6 offset-2">
              <h3> <%=listingg.title%></h3>
              <div class="card listing-card">
              <img src="<%=listingg.image.url%>" class="card-img-top  show-img" alt="...">
              <div class="card-body">
              <p class="card-text"><i><%=listingg.owner.username%> </i> <br> </p>
                <p class="card-text"> <%=listingg.description%> <br> </p>
                <p class="card-text">&#8377;<%=listingg.price%> <br> </p>
                <p class="card-text"><%=listingg.location%> <br> </p>
                <p class="card-text"><%=listingg.country%> <br> </p>
              </p>
      </div>
      </div>
      </div>
      
  </div>
  <%if(currentuser && listingg.owner._id.equals(currentuser._id)){%>
    <div class="btns">
    <a href="/listings/<%= listingg._id%>/edit" class="btn btn-dark col-1 offset-2">edit</a>
    <form  method="post" action="/listings/<%= listingg._id%>?_method=DELETE">
      <button class="btn btn-dark offset-2">Delete </button>
    </form>
    </div>
    <hr>
    <%}%>

    <div class="col-8 offset-2 mb-3">
      <%if(currentuser){%>
      <h4>Leave a review</h4>
      <form  action="/listings/<%= listingg.id%>/reviews" method="POST"  novalidate class="needs-validation">
        <!-- <div class="mb-3 mt-3">
        <label for="rating" class="form-label">Rating</label>
        <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
        </div> -->
        <!--rating star code-->
          <div class="mb-3 mt-3">
            <label for="rating" class="form-label">Rating</label>
        <fieldset class="starability-slot">
      <legend>Review:</legend>
          <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
          <input type="radio" id="first-rate1" name="review[rating]" value="1" />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input type="radio" id="first-rate2" name="review[rating]" value="2" />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input type="radio" id="first-rate3" name="review[rating]" value="3" />
          <label for="first-rate3" title="Average">3 stars</label>
          <input type="radio" id="first-rate4" name="review[rating]" value="4" />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input type="radio" id="first-rate5" name="review[rating]" value="5" />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
        </div>
        <!--till here-->

        <div class="mb-3 mt-3">
          <label for="comment">comment</label>
          <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
          <div class="invalid-feedback"> Please add some comment for review </div>
        </div>
        <button class="btn btn-outline-dark">Submit</button>
      </form>
      <%}%>
      <hr/>
      <%if(listingg.reviews.length>0){%>
    <div class="row">
      <h4>All reviews</h4>
      <% for(review of listingg.reviews){ %>
        <div class="card col-5 ms-2 mb-3">
        <div class="card-body">
          <h5 class="card-title">@<%=review.author.username%></h5>
          <!--rating part-->
          <!-- <p class="card-text"><=review.rating%>stars</p> -->
          <p class="starability-result card-text" data-rating="<%=review.rating%>">
          </p>
          <p class="card-text"><%= review.comment%></p>
        
          <%if(currentuser && review.author.equals(currentuser._id)){%>
              <form method="POST" action="/listings/<%= listingg.id%>/reviews/<%= review.id%>?_method=DELETE">
                <button class="btn btn-dark btn-sm">Delete</button>
              </form>
              <%}%>
        </div>
        
        </div>
    <%}%>
    </div>
    <hr>
    <%}%>

    </div>

    <!-- Moved only this block outside -->
    <div class="col-8 offset-2 mb-3">
        <h3>Where you'll be </h3>
        <div id="map"></div>
    </div>

  </div> 


  <script src="/js/maps.js"></script>